.jumbotron {
position: relative;
padding: 40px 0;
color: #fff;
text-align: center;
text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
background: #2C25C5;
background: -moz-linear-gradient(45deg, #2C25C5 0%, rgba(0, 247, 59, 0.55) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2C25C5), color-stop(100%,rgba(0, 247, 59, 0.55)));
background: -webkit-linear-gradient(45deg, #2C25C5 0%,rgba(0, 247, 59, 0.55) 100%);
background: -o-linear-gradient(45deg, #2C25C5 0%,rgba(0, 247, 59, 0.55) 100%);
background: -ms-linear-gradient(45deg, #2C25C5 0%,rgba(0, 247, 59, 0.55) 100%);
background: linear-gradient(45deg, #2C25C5 0%,rgba(0, 247, 59, 0.55) 100%);
}


body > .navbar .brand {
    float: left;
    color: grey;
}